

#about {
	padding: 0 0 0 0;
	// margin-top: 20px;
	// background-image: url("../../assets/img/sunset-beach-sand-clouds.jpg"); 
	// width: 100%;
	// height: 100%;	
	// background-attachment: fixed;
	// background-position:center;		

	.about-header {
		.gradient(left, black, #5D5E5D);
		// background-color: @light-grey;
		// margin-bottom: 40px;
		// padding-bottom: 40px; 
		// padding-top: 40px;
		// border-bottom: 7px solid @dark-grey;
		border-bottom: 20px solid @dark-yellow;	

		img {
			height: 110%;
			width: 110%;
		}

		.about-summary {
			padding-top: 1%;
			.border-radius();	
			padding-left: 100px;

			h2 {
				// padding: 20px 0px 10px 10px;
				font-size: 50px;
				// margin-bottom: 25px;
				// background-color: @off-white;
				color: @off-white;
				border-bottom: 1px solid @off-white;
				// .box-shadow(3px, 3px, 2px, 0.3);

				span {
					font-size: 70px;
				}
			}

			h5 {
				font-size: 25px;
				color: @off-white;
			}

			p {
				padding-left: 20px;
				margin-top: 55px;
				font-size: 20px;
				border-left: 3px solid @off-white;
				color: @off-white;
			}
		}
	}

	.profile-info {
		// background-color: @off-white;
		// width: 100%;
		// padding-top: 20px;
		height: 100%;

		.professional-exper {
			padding: 60px;
			// border-right: 4px solid @dark-grey;
			height: 100%;
			// background-color: @light-grey;

			h4 {
				font-size: 35px;
				text-align: center;
				border-bottom: 2px solid @dark-grey;
				padding-bottom: 5px;
				
				// .box-shadow(3px, 3px, 2px, 0.3);
			}

			ul {
				list-style-type: none;

				li {
					font-size: 18px;
					padding-top: 15px;

					span {
						padding-right: 10px;
					}
				}
			}

		}

		.education {
			// padding: auto auto auto auto;
			margin-top: 50px;
			margin-bottom: 50px;
			height: 100%;
			// width: 100%;
			background-color: @light-grey;
			border: 2px solid @dark-grey;

			h4 {
				font-size: 30px;
				text-align: center;
		
				border-bottom: 2px solid @dark-grey;
				padding-bottom: 5px;
				margin-bottom: 20px;
			}

			h5 {
				font-size: 20px;
				text-decoration: underline;
			}

			ul {
				// list-style-type: none;

				li {
					font-size: 16px;
					padding-top: 6px;
					
					span {
						padding-right: 10px;
					}					
				}
			}
		}
	}

}