#contact {
	margin-top: 40px;
	margin-bottom: 50px;

	.contact-header {
		background-color: @yellow2;
		
		margin-bottom: 40px;
		text-align: center;
		.border-radius();
		padding-bottom: 20px;
		padding-top: 10px;
		border: 1px solid black;

		h2 {
			border-bottom: 2px solid black;
			font-size: 40px;
		}

		p {
			font-size: 20px;
		}
	}
}