#contact {
	// margin-top: 40px;
	margin-bottom: 50px;

	h3 {
		font-size: 55px;
	}

	h5 {
		font-size: 30px;
	}

	h4 {
		font-size: 40px;
		border-bottom: 3px solid black;
		margin-bottom: 30px;
	}

	.contact-content {

		ul {
			margin-bottom: 40px;
			
			li {
				list-style-type: none;
				font-size: 24px;
			}

		}

	}

	img {
		height: 50%;
		width: 50%;
	}

}