#contact {
	// margin-top: 80px;
	margin-bottom: 110px;

	h3 {
		font-size: 50px;
		font-weight: bold;

		span {
			font-size: 55px;
		}
	}

	h5 {
		font-size: 30px;
	}

	h4 {
		font-size: 45px;
		font-weight: bold;
		border-bottom: 3px solid black;
		margin-bottom: 30px;
		padding-bottom: 15px;
		color: @z-red;
	}

	.contact-content {

		ul {
			// margin-bottom: 40px;
			padding-top: 40px;
			
			li {
				list-style-type: none;
				font-size: 30px;
			}

		}

	  @media (max-width: @md) {
			text-align: center;
	  }			

	}

	img {
		height: 50%;
		width: 50%;
		padding-top: 20px;

	  @media (max-width: @md) {
			height: 30%;
			width: 30%;
	  }		
	}

}