.header-main {
	background-color: @blue-header;
	min-height: 100%;
	color: white;
	padding-top: 10px;

	ul {
		list-style-type: none;
	}

	.header-left {
		text-align: left;
		padding-top: 23px;
		padding-bottom: 23px;

		img {
			height: 65%;
			width: 65%;
		}

		@media (max-width: @md) {
			text-align: center;

			img {
				height: 100%;
				width: 100%;
			}

		}
	}

	.header-right {
		font-size: 20px;
		padding-top: 5px;
		padding-bottom: 5px;

		a {
			color: @z-red;
			font-size: 28px;
			font-weight: bold;
		}	

		@media (max-width: @md) {
			text-align: center;
			color: @off-white;
		}
	}

}