.header-main {
	background-color: @blue-header;
	min-height: 100%;
	color: white;

	ul {
		list-style-type: none;
	}

	.header-left {
		text-align: left;
		padding-top: 23px;
		padding-bottom: 23px;

		img {
			height: 65%;
			width: 65%;
		}

		@media (max-width: @md) {
			text-align: center;

			img {
				height: 100%;
				width: 100%;
			}

		}
	}

	.header-right {
		font-size: 18px;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;

		.header-address {
			padding-left: 50px;
		}

		@media (max-width: @md) {

			.header-address {
				padding-left: 0;
			}

		}

		a {
			color: black;
			font-size: 28px;
			font-weight: bold;

			img {
				max-width: 290px;
			}
		}	

		@media (max-width: @md) {
			text-align: center;
			color: @off-white;
		}
	}

}