#home {
	padding: 30px 0 30px 0;

	.resnick-summary {
		background-color: @yellow2;
		padding-top: 20px;
		padding-bottom: 40px;
		// margin-bottom: 20px;
		border-radius: 3px;

		h2 {
			border-bottom: 1px solid @dark-grey;
			font-size: 50px;
		}

		p {
			font-size: 22px;
		}


	}

	.resnick-summary2 {

		margin-top: 30px;

		.practice-areas {
			// border: 2px solid @dark-grey;
			border-radius: 3px;
			background-color: @off-white;			

			h3 {
				border-bottom: 1px solid @dark-grey;
				font-size: 30px;
			}

			li {
				font-size: 17px;
			}
		}

		.testimonials-home {

			border: 2px solid @dark-grey;
			border-radius: 3px;
			background-color: @off-white;
			padding: 20px;	
			// margin-top: 10px;

			p:first-child {
			// padding-bottom: 10px;
			font-style: italic;
			font-weight: bold;
			font-size: 17px;

				span {
				font-style: italic;
				}
			}
		}

		.home-contact {
			margin-top: 50px;
			width: 100%;
			text-align: center;

			a {
				border: 3px solid @blue-header;
				border-radius: 3px;
				background-color: @off-white;
				color: @blue-header;
				padding: 20px;
				font-size: 40px;
				font-weight: bold;
		  	-webkit-transition: all 0.2 ease;
			  -moz-transition: all 0.2 ease;
			  -o-transition: all 0.2 ease;
			  -ms-transition: all 0.2 ease;
			  transition: all 0.2s ease;
			}

			a:hover {
				background-color: @blue-header;
				color: white;
			}
		}

	}

}