#law {
	// margin-top: 60px;
	margin-bottom: 60px;

	// .law-header {
	// 	.gradient(left, black, #5D5E5D);
	// 	margin-bottom: 40px;
	// 	.border-radius();
	// 	border-bottom: 10px solid #F15025;
	// 	color: @off-white;

	// 	h2 {
	// 		padding: 50px 0 50px 10%; 
	// 		font-size: 50px;

	// 		span {
	// 			font-size: 75px;
	// 		}			
	// 	}
	// }

	.law-areas {
		background-color: @off-white;
		// border: 1px solid black;
		padding: 20px 0px 20px 0px;
		// margin-bottom: 50px;

		ul {
			// list-style-type: none;
		}

		li {
			font-size: 22px;
			padding-top: 5px;
		}
	}

}