#law {
	margin-bottom: 40px;

	.law-areas {
		background-color: @off-white;
		// border: 1px solid black;
		padding: 20px 0px 20px 0px;
		// margin-bottom: 50px;

		img {
			height: 80%;
			width: 80%;
			border: 1px solid black;
			.border-radius();
		}

		ul {
			// padding-top: 5px;
			padding-bottom: 35px;

			li {
				font-size: 25px;
				padding-top: 5px;
			}		
		}
	}

}