#th-wrapper {
  min-height:100%;
  position:relative;
  padding-bottom: 160px;
}

#main-container {
   /* Height of the footer element */

  @media (max-width: @md) {
    padding-bottom: 140px;
  }  
}

#footer-main {
  background-color: @dark-grey;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  vertical-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
  color: @off-white;

  .footer-left {

    @media (max-width: @md) {
      text-align: center;

    }
    
    ul {
      list-style-type: none;

      a {
        color: @z-red;
        font-size: 30px;
        font-weight: bold;

        span {
          // color: lightgrey;
        }
      }

      li {
        font-size: 20px;
      }
    } 

  }

  .footer-right {

    ul {
      padding-top: 55px;

      li {
        // color: white;
        display: inline-block;
        font-size: 21px;

        a {
          color: @yellow;
          font-size: 24px;

          &:hover {
            color: @off-white;
          }
        }        
      } 

      span {
        padding: 0 10px 0 10px;
        color: white;
      }           
    }
  }

}