#th-wrapper {
  min-height:100%;
  position:relative;
}

#main-container {
  padding-bottom: 70px; /* Height of the footer element */

  @media (max-width: @md) {
    padding-bottom: 140px;
  }  
}

.footer-main {
  background-color: @dark-grey;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  vertical-align: center;
  padding-bottom: 10px;

  ul {
    padding-top: 35px;
  }

  li {
    color: white;
    display: inline-block;
    font-size: 17px;
  }

  a {
    color: @yellow;
    font-size: 19px;

    &:hover {
      color: @off-white;
    }
  }

  span {
    padding: 0 10px 0 10px;
    color: white;
  }

}