// .th-navbar {
//   background-color: @off-white;
	
// 	ul {
// 		margin-bottom: 0;
// 	}

//   .nav-items {
//     padding: 10px 0 10px;
//     margin-left: auto;
//     margin-right: auto;
//     text-align: center;
//   }

//   span {
//   	font-size: 1em;
//     color: @dark-grey;

//   	@media (min-width: @sm) {
//   		font-size: 1.5em;
//   	}
//   }

//   .nav-item {
//     text-align: left;
//     display: inline-block;
//     padding: 20px 5px 30px;
//     margin: -20px -5px -30px;
//     position: relative;

//     @media (min-width: @sm) {
//       padding: 20px 20px 30px;

//     }    
//   }

//   .nav-link {
//     text-decoration: none;
//     color: @dark-grey;

//   }

//   .nav-text,
//   .nav-text a {
//     text-transform: uppercase;
//     line-height: 1.4em;
//     margin-bottom: 0;
//     font-size: 15px;
//     color: @dark-grey;
//     padding-bottom: 2px;

//     @media (min-width: @sm) {
//       font-size: 25px;

//     }
//   }

// }

// .nav-active {

//   a {
//   	border-bottom: 2px solid @dark-grey;
//   	text-decoration: underline;
//   }

// }


/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: right;

  span {
    display: inline-block;
    height: 100%;
    // width: 20%;
    padding: 15px 30px;
    background-color: @off-white;
    color: @dark-grey;
    cursor: pointer;
    text-transform: uppercase; 
  }

  // span:after {
  //   display: inline-block;
  //   margin-left: 10px;
  //   width: 20px;
  //   height: 10px;
  //   content: "";
  //   border-left: solid 10px transparent;
  //   border-top: solid 10px @dark-grey;
  //   border-right: solid 10px transparent;
  //   color: @dark-grey;
  // }

  span:hover {
    background-color: @dark-grey;
    color: @off-white;
  }

  // span.open:after {
  //   border-left: solid 10px transparent;
  //   border-top: none;
  //   border-bottom: solid 10px @dark-grey;
  //   border-right: solid 10px transparent;
  // }
}



nav {
  // margin-bottom: 30px; 
}

nav#nav-main {
  background-color: @off-white;
  padding: 4px 0; 
}

  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
  }

  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px @dark-grey;
    padding: 8px 8px 0 8px; 
  }

    nav#nav-main li:last-child {
      border-right: none; 
    }

  nav#nav-main a {
    display: block;
    color: @dark-grey;
    padding: 10px 20px; 
    font-size: 20px;
  }

    nav#nav-main a:hover {
      background-color: @dark-grey;
      color: @off-white; 
    }

nav#nav-mobile {
  position: relative;
  display: none; 
  z-index: 99;
}

  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    background-color: @off-white; 
  }

  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 10px 5px;
    border-bottom: solid 1px @dark-grey; 
  }

    nav#nav-mobile li:last-child {
      border-bottom: none; 
    }

  nav#nav-mobile a {
    display: block;
    color: @dark-grey;
    padding: 10px 30px; 
    font-size: 18px;
  }

    nav#nav-mobile a:hover {
      background-color: @dark-grey;
      color: @off-white;
    }


/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}