#resources {

	.resource-icons {
		
		margin-bottom: 40px;

		img {
			width: 50%;
			height: 50%;
			margin-bottom: 20px;
		}

		.ziegler {

			img {
				border: 2px solid black;
				padding: 5px;
			}

		}

	}

	.resource-icons-last {
		margin-bottom: 40px;

		img {
			width: 20%;
			height: 20%;
		}
	}
}