#resources {

	.resource-icons {
		
		margin-bottom: 40px;
		// vertical-align: center;

		img {
			width: 50%;
			height: 50%;
			// vertical-align: center;
		}

	}

	.resource-icons-last {
		margin-bottom: 40px;

		img {
			width: 20%;
			height: 20%;
		}
	}
}