#testimonials {

	.testimonial-header {
		background-color: @yellow2;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;

		h2 {
			border-bottom: 2px solid black;
		}
	}

	.box2 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.box1 {
		background-color: @off-white;
		padding-top: 20px;
		padding-bottom: 20px;
	}

}