#testimonials {
	margin-bottom: 40px;

	.box {
		padding-top: 30px;
		padding-bottom: 30px;
		.border-radius();

		p:first-child {
			font-weight: bold;
			font-style: italic;
			font-size: 21px;
		}
		p:nth-child(2) {
			font-size: 18px;
			padding-left: 20px;
		}
	}

	.grey-box {
		background-color: @light-grey;
	}

	// .box1 {
	// 	background-color: @light-grey;
	// 	padding-top: 30px;
	// 	padding-bottom: 30px;
	// 	.border-radius();
	// 	// border: 1px solid black;

	// 	p:first-child {
	// 		font-weight: bold;
	// 		font-style: italic;
	// 		font-size: 21px;
	// 	}	

	// 	p:nth-child(2) {
	// 		font-size: 18px;
	// 	}	
	// }

}