#testimonials {
	margin-bottom: 100px;

	.box {
		padding-top: 30px;
		padding-bottom: 30px;
		.border-radius();

		p:first-child {
			font-style: italic;
			font-size: 22px;
		}
		p:nth-child(2) {
			font-size: 19px;
			padding-left: 20px;
		}
	}

	.grey-box {
		background-color: @light-grey;
	}

}