html,
body {
  margin:0;
  padding:0;
  height:100%;
  background-color: @off-white;
  font-family: @ptsans;
}

ul {
	// list-style: none;
}

li {
	// list-style-type: none;
	// display: inline;
}

a {
	outline: 0;
	&:focus,
	&:hover,
	&:active,
	&:visited {
		text-decoration: none;
	}
}
