@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

@ptsans: 		'PT Sans Narrow', sans-serif;

@xs:        400px;
@sm:        768px;
@md:        992px;
@lg:        1200px;


@blue-header: #336699;
@light-grey: #D1D1D1;
@off-white: #FDFFFC;
@dark-grey: #383D3B;
@yellow: #E8C547;
// @yellow2: #F2EE7A;
@yellow2: #F5FDC6;
@light-green: #C4F1BE;
@burnt-red: #DB7F67;
@dark-red: #C52233;
@light-red: #EF476F;
@dark-yellow: #FFD166;